name: Styling Checks

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        pip install -r styling_requirements.txt
    - name: Yapf
      run: yapf --diff --recursive deeplib/
    - name: PyLint
      run: pylint deeplib/
